/*
Syntax error: Invalid CSS after "    d ": expected ")", was ": $red,"
        on line 35 of scss/_config.scss
        from line 1 of scss/application.scss

30: 
31: $color-shadow     : rgba($green, .2);
32: 
33: // U Colors
34:  $ui-colors: (
35:     d : $red,
36:     s : $green,
37:     e : $yellow
38:   );
39: 
40: 

Backtrace:
scss/_config.scss:35
scss/application.scss:1
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/scss/parser.rb:1147:in `expected'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/lexer.rb:206:in `expected!'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:483:in `assert_tok'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:433:in `paren'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:418:in `special_fun'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:413:in `raw'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:337:in `funcall'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:319:in `ident'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:228:in `unary_not'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:228:in `unary_div'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:228:in `unary_minus'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:228:in `unary_plus'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:209:in `times_div_or_mod'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:209:in `plus_or_minus'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:209:in `relational'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:209:in `eq_or_neq'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:209:in `and_expr'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:209:in `or_expr'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:298:in `space'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:283:in `interpolation'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:246:in `expr'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:477:in `assert_expr'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/script/parser.rb:49:in `parse'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/scss/parser.rb:1022:in `sass_script'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/scss/parser.rb:514:in `variable'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/scss/parser.rb:553:in `block_child'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/scss/parser.rb:546:in `block_contents'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/scss/parser.rb:82:in `stylesheet'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/scss/parser.rb:27:in `parse'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/engine.rb:342:in `_to_tree'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/engine.rb:274:in `to_tree'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:283:in `block in watch'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/vendor/listen/lib/listen/adapter.rb:198:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"    d \": expected \")\", was \": $red,\"\A         on line 35 of scss/_config.scss\A         from line 1 of scss/application.scss\A \A 30: \A 31: $color-shadow     : rgba($green, .2);\A 32: \A 33: // U Colors\A 34:  $ui-colors: (\A 35:     d : $red,\A 36:     s : $green,\A 37:     e : $yellow\A 38:   );\A 39: \A 40: "; }
