//======================
// Global Config
//======================



// Font Stacks

$font-url--google       : 'http://fonts.googleapis.com/css?family=Cabin';
$font-family--primary   : 'Cabin', sans-serif;


// Font Weights
$font-weight--medium      : 300;

// Descriptive Base Colors

$red      : #EE4623;
$green    : #22B573;
$yellow   : #F6C053;
$white    : #FFFFFF;
$gray     : #4D4D4D;
$blue     : #28ABD4;

// Color Usage
$color-primary    : $white;
$color-brand      : $red;
$color-secondary  : $green;
$color-tertiary   : $yellow;

$color-shadow     : rgba($green, .2);

// U Colors
 $ui-colors: (
    d : $red,
    s : $green,
    e : $yellow
  );



// Text

$base__font-size : 16px;
$base__line      : 24px;

// Path to Assets
$path--rel    : "../img";