
// ===================
// Placeholders
// ===================

// Panels

%panel-default{
  padding-top: rem-calc(30px);
  padding-bottom: rem-calc(20px);
}


%panel-default{
  padding-top: rem-calc(80px);
  padding-bottom: rem-calc(34px);
}
