//======================
// Global Config
//======================

// Font Stacks

$font-url--google       : 'http://fonts.googleapis.com/css?family=Cabin';
$font-family--primary   : 'Cabin', sans-serif;


// Font Weights
$font-weight--medium      : 300;

// Descriptive Base Colors

$red      : #ED573E;
$green    : #55E0B1;
$white    : #FFFFFF;
$gray     : #808080;
$blue     : #28ABD4;

// Color Usage
$color-primary    : $white;
$color-brand      : $red;
$color-secondary  : $gray;



// Text

$base__font-size : 16px;
$base__line      : 24px;

// Path to Assets
$path--rel    : "../img";