//======================
// Global Config
//======================

// Font Stacks

$font-url--google       : 'http://fonts.googleapis.com/css?family=Cabin';
$font-family--primary   : 'Cabin', sans-serif;


// Font Weights
$font-weight--medium      : 300;

// Descriptive Base Colors

$red      : #ED573E;
$teal    : #29E2BF;
$white    : #FFFFFF;
$gray     : #E6E6E6;
$blue     : #19293A;

// Color Usage
$color-primary    : $white;
$color-brand      : $red;
$color-secondary  : $gray;



// Text

$base__font-size             : 16px;
$base__font-size--xsmall     : 9px;    
$base__font-size--small      : 12px;
$base__font-size--medium     : 21px;
$base__font-size--large      : 37px;
$base__font-size--xlarge     : 50px;
$base__font-size--xxlarge    : 67px;

$base__line      : 24px;

// Path to Assets
$path--rel    : "../img";