
// Mixins


//includes the fall back px declaration as well as the calculated rem value.
  @mixin font-size($size){
    font-size: $size;
    font-size: rem-calc($size);
  }
  

// image bg replace mixin
@mixin img-replace($img, $w, $h, $disp: block) {
  background-image: url('#{$path--rel}/#{$img}');
  background-repeat: no-repeat;
  width: $w;
  height: $h;
  display: $disp;
}


// full screen w/ custom color
@mixin full-screen($color){
  background: $color;
  width: 100%;
  height: 100%;
  position: absolute; top: 0; left: 0;
}

// flat button w/ custom color and dimensions
@mixin flat-button($bg:$gray, $w:rem-calc(320px), $h:rem-calc(80px)){
  border: none;
  cursor: pointer;
  display: block;
  outline: none;
  background-color: $bg;
  width: $w;
  height: $h;

}

// Input Style

@mixin input-style($w, $h, $bg:$gray, $color:$white) {
  width: $w;
  height: $h;
  background: $bg;
  color: $color;
  display: block;
  
}

@mixin input-ph-style($bg, $color) {
  background: $bg;
  color:$color;
}

@mixin band($bg, $color){
  background:$bg;
  color:$color;
}


// Utilities
// Import google font

@if variable-exists(font-url--google) {
  @import url($font-url--google);
}



