

/* Button Style */

.btn{
  @include flat-button();
}

.login__btn {
  @extend .btn;
  color: $red;
  margin:rem-calc(20px) auto;
}

.login__btn--submit{
  @extend .login__btn;
  color:$teal;
}   

.location__btn--save{
  @extend .btn;
  color:$teal;
  margin:rem-calc(20px) auto;
}  

.rapid-fire__btn{
 @extend .login__btn;
 background:$white;
 color:black;
}

.planr__btn{
 @include flat-button($blue, 100%);
 background:$blue;
 color:$white; 
 font-size: rem-calc($base__font-size--large);
}

.budget__btn{
  @include flat-button($white, 100%);
  font-size: rem-calc($base__font-size--large);
}

.feedme__btn{
  @include flat-button($blue, 100%);
  background:$teal;
  color:$white; 
  // font-size: rem-calc($base__font-size--large);
  font-size: 1.75rem;
  font-weight: bold;
}
.takemymoney__btn {
  @include flat-button($blue, 100%);
  background:$blue;
  color:$teal; 
  position: absolute;
  bottom: 0;
  width: 100%;
  // font-size: rem-calc($base__font-size--large);
  font-size: 1.75rem;
  font-weight: bold;
}

.profile__btn{
  @include flat-button($color-brand, 33.33%, rem-calc(160px));
  color:$white; 
  float:left
}

.profile__btn--one{
  @extend .profile__btn;
  background-color: $red-l;
}

.profile__btn--two{
  @extend .profile__btn;
}

.profile__btn--three{
  @extend .profile__btn;
  background-color: $red-r;
}

.three-choices__btn{
  @include flat-button($gray, rem-calc(320px));
  padding: rem-calc(60px) 0; 
  margin: rem-calc(15px) auto;

}

.choose-adventure__btn{
  @extend .login__btn;
}
